body {
  background-color: #CFD6D9;
  margin: 0px;
}

.header,
h1 {
  background-color: #00ffff;
  text-align: center;
  margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-row {
  margin-top: 21px;
  margin-bottom: 12px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: 'Work Sans';
}

.instructions-row {
  margin: 0 auto;
  width: 500px;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 30px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
}

.door-row {
  text-align: center;
  direction: rtl;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.start-row {
  margin: auto;
  width: 140px;
  height: 45px;
  font-family: 'Work Sans';
  background-color: #eb6536;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 21px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 1.2em;
}

.start-row-lose{
  background-color: #bb2d3b;
}

.start-row-win{
  background-color: #198754;
}